<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

	<link rel="stylesheet" type="text/css" href="semantic/semantic.css">
	<script
	  src="assets/library/jquery.min.js"
	  ></script>
	<script src="semantic/semantic.js"></script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=685fb6d52e9558eb55705c0b663c66bd&libraries=services,clusterer,drawing"></script>

<meta charset="UTF-8">
<title>Navigation Web</title>

    <style>
        .column {
            border: 1px solid gray;
            text-align : center;
        }
        h1,h2 {
        	text-align : center;
        }
    </style>
    
</head>

<body>

<div class="ui large fixed menu">
  <div class="item">
    <img src="https://semantic-ui.com/images/logo.png">
  </div>
  <a class="active item">
    Journey
  </a>
  <a class="item" th:href="@{live}">
    Live Journey!
  </a>
  <a class="item" th:href="@{detail}">
    Detail
  </a>
  <div class="right menu">
    <div class="item">
        <div class="ui primary button">Sign Up</div>
    </div>
  </div>
</div>

<h3>~ welcome navi web ~</h3>
	
<div class="ui vertical segment" style="padding:0px;">
<div id="map" style="width:1000px;height:500px;text-align:center;"></div>
	<script th:inline="javascript">
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(36.625109, 128.033937),
					//36.450701, 126.570667),
			level: 13
		};

		var map = new kakao.maps.Map(container, options);
		var polylines = new Map();
		

		// journey checkbox clicked
		function checkClick(journeyId, journeyTimeId, checked) {
			
			if (checked)
			{
				if (polylines.has(journeyTimeId) == true)
				{
					polylines.get(journeyTimeId).setMap(map);
				}
				else
				{
					var xmlHttp = new XMLHttpRequest();
				   	xmlHttp.onreadystatechange = function() 
				   	{ 
				        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) 
				        {				
				        	var data = JSON.parse(this.responseText);
							var linePath = [];
				            var i;
				            for(i = 0; i < data.length; i++) 
				            	linePath[i] = new kakao.maps.LatLng(data[i].lat, data[i].lon);
	
				    		var polyline = new kakao.maps.Polyline({
				    		    path: linePath,
				    		    strokeWeight: 5,
				    		    strokeColor: '#FF0000',
				    		    strokeOpacity: 0.7,
				    		    strokeStyle: 'solid'
				    		});
				    		
				    		polyline.setMap(map);
				    		polylines.set(journeyTimeId, polyline);				    		
				    		//var distance = Math.round(polyline.getLength());
				    		//alert(distance);
				    		
				    		// move to first position
				    		if (data.length > 0)
			                	map.panTo(new kakao.maps.LatLng(data[0].lat, data[0].lon));				    		
				        }
				    }
					xmlHttp.open("GET", "/path/" + journeyId + '/' + journeyTimeId, true);
					xmlHttp.send(null);
				}
			}
			else
			{
				if (polylines.has(journeyTimeId) == true)
				{
					polylines.get(journeyTimeId).setMap(null);
					polylines.delete(journeyTimeId);				
				}
			}
			
			// send show/hide check info
			{
				var data = {};
				data.journeyId = journeyId;
				data.journeyTimeId = journeyTimeId;
				data.checked = Number(checked);
				
				var json = JSON.stringify(data);
				var xhr = new XMLHttpRequest();
				xhr.open("PUT", 'pathShow', true);
				xhr.setRequestHeader('Content-type','application/json; charset=utf-8');
				xhr.send(json);
			}				
		}
		
		
		function pageRefresh(page, size) {
			$('#list')
				.load(window.location.href + '?page=' + page + '&size=' + size + ' #list')
				.fadeIn("slow");			
		}
		
		
		// request detail journey information
		function showDetail(journeyId, journeyTimeId) {
			var data = {};
			data.journeyId = journeyId;
			data.journeyTimeId = journeyTimeId;
			var json = JSON.stringify(data);
			var xhr = new XMLHttpRequest();
		   	xhr.onreadystatechange = function() 
		   	{ 
		        if (xhr.readyState == 4 && xhr.status == 200) 
		        {
					$('.ui.modal')
					  .modal('show')
					;
		        }
		    }
			xhr.open("PUT", 'showDetail', true);
			xhr.setRequestHeader('Content-type','application/json; charset=utf-8');
			xhr.send(json);			
		}
	
		
	</script>
</div>

<div class="ui vertical segment" style="padding:3px;">
	<div class="ui animated orange button" tabindex="0"	style="text-align:left;" 
		onclick="location.href='live'">
	  <div class="visible content">Live Today Journey!</div>
	  <div class="hidden content">
	    <i class="right arrow icon"></i>
	  </div>
	</div>

	<div class="ui animated olive button" tabindex="0" style="float:right;" 
		onclick="location.href='detail'">
	  <div class="visible content">Journey Detail</div>
	  <div class="hidden content">
	    <i class="right arrow icon"></i>
	  </div>
	</div>
	
</div>


<div class="ui vertical segment" style="padding:0px;">

	<div id="list" style="width:1000px;">	
		<table class="ui celled striped table" style="text-align:center">
		  <thead>
		    <tr><th>Show</th>
		    <th>User</th>
		    <th>Date</th>
		    <th>Distance</th>
		    <th>Journey Time</th>
		    <th>Detail</th>
		  </tr></thead>
		  
		  <tbody th:each="journey : ${journeys}">
		    <tr class="center aligned">
		      <td class="collapsing">
		        <div class="ui fitted slider checkbox">
		          <input type="checkbox" name="showChk"
		          	th:checked="${journey.checked}"
		          	th:onclick="|javascript:checkClick('${journey.id}','${journey.timeId}', checked)|"></input><label></label>
		        </div>
		      </td>

   		      <td data-label="User" th:text="${journey.userId}"></td>
		      <td data-label="Date" th:text="${journey.date}"></td>
		      <td data-label="Distance" th:text="|${#numbers.formatDecimal(journey.distance/1000,1,1)} Km|"></td>
		      <td data-label="Journey Time"
		       	th:text="|${#numbers.formatDecimal(journey.journeyTime/(1000*60*60),1,1)} Hour|"></td>
		       	
		      <td data-label="Detail">
				  <button class="mini ui brown button" th:onclick="|showDetail(${journey.id})|" >Detail</button>
			  </td>
			  		       	
		    </tr>
		  </tbody>
	
		  <tfoot>
		    <tr><th colspan="6">
			<div class="ui right floated pagination menu"		
				th:with="step = 5, left=${pageNumbers[0] - step}, right=${pageNumbers[0] + step}">
				
			 	<a class="icon item" th:onclick="|pageRefresh(${left}, ${page.size})|">
		          <i class="left chevron icon"></i>
		        </a>
		        
		        <th:block th:each="pageNumber : ${pageNumbers}">
				    <a 	th:class="${pageNumber==page.number + 1} ? 'item active' : 'item'"
				    	th:onclick="|pageRefresh(${pageNumber}, ${page.size})|"
				        th:text=${pageNumber}>
			        </a>
		        </th:block>
		        
		        <a class="icon item" th:onclick="|pageRefresh(${right}, ${page.size})|">
		          <i class="right chevron icon"></i>
		        </a>
			</div>	  
		  </tr></tfoot>
		  
		</table>
	</div>

</div>

<div class="ui vertical segment">
  <p></p>
</div>

	<!-- path detail modal dialog -->	
	<div class="ui modal" id="modal_detail">
	  <i class="close icon"></i>
	  <div class="header">
	    Journey Information
	  </div>
	  
	  <div class="image content">
	    <div class="ui medium image">
	      <img src="assets/images/carjourney.jpg">
	    </div>
	    
	    <div class="description">
	      <div class="ui header">Your Journey Information!</div>
	      <p>Funny Journey!!</p>
	    </div>
	    
	  </div>
	  
	  <div class="actions">
	    <div class="ui positive right labeled icon button">
	      Ok
	      <i class="checkmark icon"></i>
	    </div>
	  </div>	
  	</div>
	<!-- end detail modal dialog -->
	  
	  
</body>
</html>
