<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

	<link rel="stylesheet" type="text/css" href="semantic/semantic.css">
	<script
	  src="assets/library/jquery.min.js"
	  ></script>
	<script src="semantic/semantic.js"></script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=685fb6d52e9558eb55705c0b663c66bd&libraries=services,clusterer,drawing"></script>

<meta charset="UTF-8">
<title>Navigation Web</title>

    <style>
        .column {
            border: 1px solid gray;
            text-align : center;
        }
        h1,h2 {
        	text-align : center;
        }
    </style>
    
</head>

<body>

<div class="ui large fixed menu">
  <div class="item">
    <img src="https://semantic-ui.com/images/logo.png">
  </div>
  <a class="active item">
    Journey
  </a>
  <a class="item" th:href="@{live}">
    Live Journey!
  </a>
  <a class="item" th:href="@{detail}">
    Detail
  </a>
  <div class="right menu">
    <div class="item">
        <div class="ui primary button">Sign Up</div>
    </div>
  </div>
</div>

<h3>~ welcome navi web ~</h3>
	
<div id="map" style="width:1000px;height:500px;text-align:center;margin-bottom:5px;"></div>
	<script th:inline="javascript">
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(36.625109, 128.033937),
			level: 13
		};

		var _map = new kakao.maps.Map(container, options);
		var _polylines = new Map();
		var _markers = [];
		var _landMarkId; // edit landmark id
		var _userId = 1;
		
		var drawingOptions = {
		    map: _map,
		    drawingMode: [kakao.maps.Drawing.OverlayType.MARKER],
		    guideTooltip: ['draw', 'drag', 'edit'], 
		    markerOptions: {
		        draggable: false,
		        removable: false
		    }
		};
		var _manager = new kakao.maps.Drawing.DrawingManager(drawingOptions);
		var _toolbox = new kakao.maps.Drawing.Toolbox({drawingManager: _manager});
		_map.addControl(_toolbox.getElement(), kakao.maps.ControlPosition.LEFT);
		kakao.maps.event.addListener(_map, 'click', mouseClickEvent);
		
		
		function init()
		{
			// update landmark marker
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function() {
		        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) 
		        {
		        	var data = JSON.parse(this.responseText);
		            for(i = 0; i < data.length; i++)
	            	{
		            	var pos = new kakao.maps.LatLng(data[i].lat, data[i].lon);
			    		var marker = new kakao.maps.Marker({
			    			map: _map,
			    		    position: pos
			    		});
			    		marker.setMap(null);
			    		_markers.push(marker);

		            	if (data[i].address == null) {
		            		updateLandMarkAddress(data[i]);
	            		}
	            	}
		            
		            refreshTable();
		        }
			}
			xmlHttp.open("GET", "/landMarkList?userId=" + _userId, true);
			xmlHttp.send(null);			
		}
		
		
		function mouseClickEvent(mouseEvent) 
		{
			if (!_toolbox._selected) //add marker?
				return;

			var latlng = mouseEvent.latLng;
			var geocoder = new kakao.maps.services.Geocoder();
			var prom = new Promise( function(resolve, reject) {
				var latlng = mouseEvent.latLng;
			    geocoder.coord2RegionCode(latlng.getLng(), latlng.getLat()
			    		, function(result, status) {
			    	resolve({result:result,status:status,latlng:latlng});
			    });
			});
			
			prom.then( function(r) {
				var latlng = r.latlng;
				var result = r.result;
				
				for(var i = 0; i < result.length; i++) 
	            {
	                if (result[i].region_type === 'H') 
	                {
	        			var xmlHttp = new XMLHttpRequest();
	        			xmlHttp.onreadystatechange = function() {
	        		        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
	        		        	refreshTable();
	        		        }
	        			};
		    			var json = JSON.stringify({
		    				userId : _userId,
		    				lon :  latlng.getLng(),
		    				lat :  latlng.getLat(),
		    				address : result[i].address_name
		                });							
						xmlHttp.open("POST", "/landMarkAdd", true);
	        			xmlHttp.setRequestHeader('Content-type','application/json; charset=utf-8');
						xmlHttp.send(json);	
	        			break;
	                }
	            }				
			});
		}
		
		
		function updateLandMarkAddress(landMark) 
		{
			var geocoder = new kakao.maps.services.Geocoder();
			
			var prom = new Promise( function(resolve, reject) {
			    geocoder.coord2RegionCode(landMark.lon, landMark.lat
			    		, function(result, status) {
			    	resolve({result:result,status:status,landMark:landMark});
			    });
			});
    		
			prom.then( function(r) {
				var landMark = r.landMark;
				var result = r.result;					
	            for(var i = 0; i < result.length; i++) 
	            {
	                if (result[i].region_type === 'H') 
	                {
	        			// uplad landmark address
	        			var xmlHttp = new XMLHttpRequest();
	        			xmlHttp.onreadystatechange = function() {
	        		        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
	        		        	//alert('success');
	        		        }
	        			};
	        			
	        			var json = JSON.stringify({
	        				id : landMark.id,
	                    	addr : result[i].address_name
	                    });
	        			xmlHttp.open("PUT", "landMarkAddrUpload", true);
	        			xmlHttp.setRequestHeader('Content-type','application/json; charset=utf-8');
	        			xmlHttp.send(json);
	        			break;
	                }
	            }
	            
	            refreshTable();
			});
		}	
		

		// journey checkbox clicked
		function checkClick(journeyId, journeyTimeId, checked) {
			
			if (checked)
			{
				if (_polylines.has(journeyTimeId) == true)
				{
					_polylines.get(journeyTimeId).setMap(_map);
				}
				else
				{
					var xmlHttp = new XMLHttpRequest();
				   	xmlHttp.onreadystatechange = function() 
				   	{ 
				        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) 
				        {				
				        	var data = JSON.parse(this.responseText);
							var linePath = [];
				            var i;
				            for(i = 0; i < data.length; i++) 
				            	linePath[i] = new kakao.maps.LatLng(data[i].lat, data[i].lon);
	
				    		var polyline = new kakao.maps.Polyline({
				    		    path: linePath,
				    		    strokeWeight: 5,
				    		    strokeColor: '#FF0000',
				    		    strokeOpacity: 0.7,
				    		    strokeStyle: 'solid'
				    		});
				    		
				    		polyline.setMap(_map);
				    		_polylines.set(journeyTimeId, polyline);				    		
				    		//var distance = Math.round(polyline.getLength());
				    		//alert(distance);
				    		
				    		// move to first position
				    		if (data.length > 0)
			                	_map.panTo(new kakao.maps.LatLng(data[0].lat, data[0].lon));				    		
				        }
				    }
					xmlHttp.open("GET", "/path/" + journeyId + '/' + journeyTimeId, true);
					xmlHttp.send(null);
				}
			}
			else
			{
				if (_polylines.has(journeyTimeId) == true)
				{
					_polylines.get(journeyTimeId).setMap(null);
					_polylines.delete(journeyTimeId);				
				}
			}
			
			// send show/hide check info
			{
				var data = {};
				data.journeyId = journeyId;
				data.journeyTimeId = journeyTimeId;
				data.checked = Number(checked);
				
				var json = JSON.stringify(data);
				var xhr = new XMLHttpRequest();
				xhr.open("PUT", 'pathShow', true);
				xhr.setRequestHeader('Content-type','application/json; charset=utf-8');
				xhr.send(json);
			}
		}
		
		
		// journey, landmark table refresh
		function refreshTable(page1, page2) {

			//which tab selection?
			var tab = $('#tabmenu').children('.active').index();$

			var size = 10;
			var p1 = (page1 == null)? $('#journey_page').children('.active').text() : page1;
			var p2 = (page2 == null)? $('#landmark_page').children('.active').text() : page2;
			
			$('#list')
			.load(window.location.href + '?page=' + p1 + '&size=' + size + 
					'&page2=' + p2 + ' #list'
					, function() {
						$('.menu .item').tab();
						if (tab == 1) {
							$('.menu .item').tab('change tab', 'second');
						}
					})
			.fadeIn("slow")
			;
		}
		
		
		// journey list refresh
		function pageRefresh(page, size) {
			refreshTable(page, null);
		}


		// landmark list refresh
		function pageRefresh2(page, size) {
			refreshTable(null, page);
		}
		
		
		// request detail journey information
		function showDetail(journeyId, journeyTimeId) {
			var data = {};
			data.journeyId = journeyId;
			data.journeyTimeId = journeyTimeId;
			var json = JSON.stringify(data); 
			var xhr = new XMLHttpRequest();
		   	xhr.onreadystatechange = function() 
		   	{ 
		        if (xhr.readyState == 4 && xhr.status == 200) 
		        {
					$('#modal_detail')
					  .modal('show')
					;
					
					var journey = JSON.parse(this.responseText);
					$('#modal_detail').find('.date').html(journey.date);
					
					$('#modal_detail').find('.distance').html(
							(journey.distance/1000).toFixed(1) + 'Km');
					
					$('#modal_detail').find('.journey_time').html(
							(journey.journeyTime/(1000*60*60)).toFixed(1) + 'Hour');

					$('#modal_detail').find('.start_time').html(journey.startTime);
					
					$('#modal_detail').find('.end_time').html(journey.endTime);
					
					$('#modal_detail').find('.update').html(journey.updateCount);
					
		        }
		    }
			xhr.open("GET", 'journeyDetail?journeyId=' + journeyId, true);
			xhr.setRequestHeader('Content-type','application/json; charset=utf-8');
			xhr.send(json);
		}
		
		function journeyTab() {
			for (var i=0; i < _markers.length; ++i)
				_markers[i].setMap(null);
		}
		
		function landMarkTab() {
			for (var i=0; i < _markers.length; ++i)
				_markers[i].setMap(_map);
		}

		function focusLandMark(lat, lon) {
			_map.panTo(new kakao.maps.LatLng(lat, lon));
		}
		
		
		// show landmark comment edit modal dialog
		function showEditComment(landMarkId) {
			
			_landMarkId = landMarkId;
			
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function() 
		   	{ 
		        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) 
		        {
		        	var data = JSON.parse(this.responseText);
		        	
					$('#modal_landmark')
					  .modal('show')
					;
					
					$('#landmark_comment').html(data.comment);
					
		        }
		    }
			xmlHttp.open("GET", 'landMarkInfo?user=' + _userId + '&id=' + landMarkId, true);
			xmlHttp.setRequestHeader('Content-type','application/json; charset=utf-8');
			xmlHttp.send(null);		
		}
		
		function updateLandMarkInfo() {			
			// uplad landmark comment
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function() {
		        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
		        	refreshTable();
		        }
			};			
			var json = JSON.stringify({
				id : _landMarkId,
            	comment : $('#landmark_comment').val()
            });
			xmlHttp.open("PUT", "landMarkCommentUpload", true);
			xmlHttp.setRequestHeader('Content-type','application/json; charset=utf-8');
			xmlHttp.send(json);
		}
		
		
		// landmark edit modal dialog, request confirm delete landmark
		function confirmDeleteLandMark() {
			$('#modal_delete_confirm')
			  .modal('show')
			;
		}
		
		
		// landmark edit modal dialog, request delete landmark
		function deleteLandMark() {
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function() {
		        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
		        	refreshTable();
		        }
			};			
			xmlHttp.open("GET", "landMarkDelete?user=" + _userId + "&id=" + _landMarkId, true);
			xmlHttp.setRequestHeader('Content-type','application/json; charset=utf-8');
			xmlHttp.send(null);
		}
		
		window.onload = init;
	</script>


	<div class="ui animated olive button" tabindex="0" style="float:right;" 
		onclick="location.href='detail'">
	  <div class="visible content">Journey Detail</div>
	  <div class="hidden content">
	    <i class="right arrow icon"></i>
	  </div>
	</div>	

	<div class="ui animated orange button" tabindex="0"	style="float:right;" 
		onclick="location.href='live'">
	  <div class="visible content">Live Today Journey!</div>
	  <div class="hidden content">
	    <i class="right arrow icon"></i>
	  </div>
	</div>


	<div id="list">
	
		<div id="tabmenu" class="ui top attached tabular menu" style="margin-top:5px" >		
		  <a class="item active" data-tab="first" th:onclick="|journeyTab()|">Journey List</a>
		  <a class="item" data-tab="second" th:onclick="|landMarkTab()|">LandMark</a>
		</div>
		
		<div class="ui bottom attached tab segment active" data-tab="first">
	
			<div style="width:1000px;">	
				<table class="ui celled striped table" style="text-align:center" id="journey_table">
				  <thead>
				    <tr><th>Show</th>
				    <th>User</th>
				    <th>Date</th>
				    <th>Distance</th>
				    <th>Journey Time</th>
				    <th>Detail</th>
				  </tr></thead>
				  
				  <tbody th:each="journey : ${journeys}">
				    <tr class="center aligned">
				      <td class="collapsing">
				        <div class="ui fitted slider checkbox">
				          <input type="checkbox" name="showChk"
				          	th:checked="${journey.checked}"
				          	th:onclick="|javascript:checkClick('${journey.id}','${journey.timeId}', checked)|"></input><label></label>
				        </div>
				      </td>
		
		   		      <td data-label="User" th:text="${journey.userId}"></td>
				      <td data-label="Date" th:text="${journey.date}"></td>
				      <td data-label="Distance" th:text="|${#numbers.formatDecimal(journey.distance/1000,1,1)} Km|"></td>
				      <td data-label="Journey Time"
				       	th:text="|${#numbers.formatDecimal(journey.journeyTime/(1000*60*60),1,1)} Hour|"></td>
				       	
				      <td data-label="Detail">
						  <button class="mini ui brown button" th:onclick="|showDetail(${journey.id})|" >Detail</button>
					  </td>
					  		       	
				    </tr>
				  </tbody>
			
				  <tfoot>
				    <tr><th colspan="6">
					<div class="ui right floated pagination menu" id="journey_page"		
						th:with="step = 5, left=${pageNumbers[0] - step}, right=${pageNumbers[0] + step}">
						
					 	<a class="icon item" th:onclick="|pageRefresh(${left}, ${page.size})|">
				          <i class="left chevron icon"></i>
				        </a>
				        
				        <th:block th:each="pageNumber : ${pageNumbers}">
						    <a 	th:class="${pageNumber==page.number + 1} ? 'item active' : 'item'"
						    	th:onclick="|pageRefresh(${pageNumber}, ${page.size})|"
						        th:text=${pageNumber}>
					        </a>
				        </th:block>
				        
				        <a class="icon item" th:onclick="|pageRefresh(${right}, ${page.size})|">
				          <i class="right chevron icon"></i>
				        </a>
					</div>	  
				  </tr></tfoot>
				  
				</table>
			</div>
	
		</div>
		
		<div class="ui bottom attached tab segment" data-tab="second">
		
		  		<div style="width:1000px;">	
					<table class="ui celled striped table" style="text-align:center" id="landmkar_table">
					  <thead>
					    <tr><th>Show</th>
					    <th>User</th>
					    <th>Date</th>
					    <th>Address</th>
					    <th>Comment</th>
					    <th>Focus</th>
					    <th>Edit</th>					    
					  </tr></thead>
					  
					  <tbody th:each="landMark : ${landMarks}">
					    <tr class="center aligned">
					      <td class="collapsing">
					        <div class="ui fitted slider checkbox">
					          <input type="checkbox" name="showChk" checked></input><label></label>
					        </div>
					      </td>
			
			   		      <td data-label="User" th:text="${landMark.userId}"></td>
					      <td data-label="Date" th:text="${landMark.dateTime}"></td>
					      <td data-label="Address" th:text="${landMark.address}"></td>
					      <td data-label="Comment" th:text="${landMark.comment}"></td>
					      <td data-label="Focus">
							  <button class="mini ui blue button" th:onclick="|focusLandMark(${landMark.lat}, ${landMark.lon})|" >Focus</button>
						  </td>
					      <td data-label="Edit" >
						      <button class="mini ui green button" th:onclick="|showEditComment(${landMark.id})|" >Edit</button>
					      </td>

					    </tr>
					  </tbody>				  

					  <tfoot>
					    <tr><th colspan="7">
						<div class="ui right floated pagination menu" id="landmark_page"
							th:with="step = 5, left=${pageNumbers2[0] - step}, right=${pageNumbers2[0] + step}">
							
						 	<a class="icon item" th:onclick="|pageRefresh2(${left}, ${page2.size})|">
					          <i class="left chevron icon"></i>
					        </a>
					        
					        <th:block th:each="pageNumber : ${pageNumbers2}">
							    <a 	th:class="${pageNumber==page2.number + 1} ? 'item active' : 'item'"
							    	th:onclick="|pageRefresh2(${pageNumber}, ${page2.size})|"
							        th:text=${pageNumber}>
						        </a>
					        </th:block>
					        
					        <a class="icon item" th:onclick="|pageRefresh2(${right}, ${page2.size})|">
					          <i class="right chevron icon"></i>
					        </a>
						</div>	  
					  </tr></tfoot>
				  					  
					</table>
				</div>

		</div>
		
		<script th:inline="javascript">
			$('.menu .item').tab();
		</script>
		
	</div>



	<!-- path detail modal dialog -->	
	<div class="ui modal" id="modal_detail">
	  <i class="close icon"></i>
	  <div class="header">
	    Journey Information
	  </div>
	  
	  <div class="image content">
	    <div class="ui medium image">
	      <img src="assets/images/carjourney.jpg">
	    </div>
	    
	    <div class="description">
	      <div class="ui header">Enjoy Your Journey!</div>
	      <span>Date : </span>
	      <span class="date">date</span>
	      
	      <p></p>
	      <span>Distance : </span>
	      <span class="distance">distance</span>
	      
	      <p></p>
	      <span>Journey Time : </span>
	      <span class="journey_time">journey time</span>

	      <p></p>
	      <span>Start Time : </span>
	      <span class="start_time">journey time</span>

	      <p></p>
	      <span>End Time : </span>
	      <span class="end_time">journey time</span>

	      <p></p>
	      <span>Update Count : </span>
	      <span class="update">update count</span>
	      
	      <p></p>
	    </div>
	    
	  </div>
	  
	  <div class="actions">
	    <div class="ui positive right labeled icon button">
	      Ok
	      <i class="checkmark icon"></i>
	    </div>
	  </div>	
  	</div>
	<!-- end detail modal dialog -->
	  
	  

	<!-- landmark comment edit modal dialog -->	
	<div class="ui modal" id="modal_landmark">
	  <i class="close icon"></i>
	  <div class="header">
	    LandMark Information
	  </div>
	  
	  <div class="image content">
	    <div class="ui medium image">
	      <img src="assets/images/carjourney.jpg">
	    </div>
	    
	    <div class="description">
	      <div class="ui header">Comment</div>
			<form class="ui form" >
			  <textarea placeholder="Write Comment" style="min-height:100px; min-width:480px" rows="3"
			  id="landmark_comment"></textarea>
			</form>
	    </div>
	    
	  </div>
	  
	  <div class="actions">
	    <div class="ui red deny button" style="float:left" th:onclick="|confirmDeleteLandMark()|">
	      Delete
	    </div>
	    <div class="ui black deny button">
	      Nope
	    </div>
	    <div class="ui positive right labeled icon button" th:onclick="|updateLandMarkInfo()|">
	      Ok
	      <i class="checkmark icon"></i>
	    </div>
	  </div>
  	</div>
	<!-- end edit landmark modal dialog -->	  
  
  
  	<!-- delete confirm modal dialog -->
	<div class="ui mini modal" id="modal_delete_confirm">
	  <div class="header">Delete LandMark</div>
	  <div class="content">
	    <p>Are You Sure Delete LandMark?</p>
	    <p></p>
	    <p></p>
	  </div>
	  <div class="actions">
	    <div class="ui red deny button">
	      No
	    </div>
	    <div class="ui positive right labeled icon button" th:onclick="|deleteLandMark()|">
	      Yes
	      <i class="checkmark icon"></i>
	    </div>
	  </div>
	</div>
	<!-- end delete confirm modal dialog -->
	
	  
</body>
</html>
