<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

	<link rel="stylesheet" type="text/css" href="semantic/semantic.css">
	<script
	  src="assets/library/jquery.min.js"
	  ></script>
	<script src="semantic/semantic.js"></script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=685fb6d52e9558eb55705c0b663c66bd&libraries=services,clusterer,drawing"></script>

<meta charset="UTF-8">
<title>Navigation Web</title>

    <style>
        .column {
            border: 1px solid gray;
            text-align : center;
        }
        h1,h2 {
        	text-align : center;
        }
    </style>
    
</head>

<body>

<h1>~ Welcome ~ Navigation Web</h1>

<div id="map" style="width:1000px;height:500px;"></div>
	<script th:inline="javascript">
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(36.450701, 126.570667),
			level: 13
		};

		var map = new kakao.maps.Map(container, options);
		var polylines = new Map();
		

		
	</script>


<!-- <h3>Path List</h3> -->

<div id="list" style="width:1000px;height:600px;overflow:auto;padding:10px;">

	 <script th:inline="javascript">
	 	function pageLeft() {
	 		alert('page left');
	 	}
	 	function pageRight() {
	 		//alert('page right');
	 		//var startPage = $('#startPage').val;
	 		//var startPage =  "[[${startPage}]]";
	 		//alert(startPage);
	 		
	 		//@Model.startPage = 3;
	 		
	 		
	 		var data = {};
			data.firstName = "John2";
			data.lastName  = "Snow2";
			var json = JSON.stringify(data);
	 		
			var xmlHttp = new XMLHttpRequest();
		   	xmlHttp.onreadystatechange = function() 
		   	{ 
		        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) 
		        {
		        	alert(xmlHttp.responseText);		        	
		        }
		    }
			xmlHttp.open("PUT", "/pathTable", true);
			xmlHttp.setRequestHeader('Content-type','application/json; charset=utf-8');
			xmlHttp.send(json);
			
	 		
	 	}		  	
	 	
	 	function pageClick(pageNum) {
	 		
	 		//@("table_list").load(window.location.href + "table_list");
	 		//$('#table_list').load("/pathTableList?page=2&size=10").fadeIn("slow");
	 		//$('#table_list').load("/pathTableList?page=2&size=10").fadeIn("slow");
	 		$('#table_list').load(window.location.href + '?page=' + pageNum + ' #table_list').fadeIn("slow");

	 	}
	 	
	 </script>


	<div id="table_list" >
		<table class="ui celled striped table">
		  <thead>
		    <tr><th>Show</th>
		    <th>Number</th>
		    <th>Date</th>
		    <th>User</th>
		    <th>Distance</th>
		    <th>Journey Time</th>
		  </tr></thead>
		  
			  <tbody th:each="num : ${#numbers.sequence(first,last)}"
			  		 th:with="journey = ${journeys[num]},">
			    <tr class="center aligned">
			      <td class="collapsing">
			        <div class="ui fitted slider checkbox">
			          <input type="checkbox" name="showChk"
			          	th:onclick="|javascript:checkClick('${journey.id}','${journey.timeId}')|"></input><label></label>
			        </div>
			      </td>
		      	    
			      <td data-label="Number" th:text="${journey.id}"></td>
			      <td data-label="Date" th:text="${journey.date}"></td>
			      <td data-label="User" th:text="${journey.userId}"></td>
			      <td data-label="Distance" th:text="|${#numbers.formatDecimal(journey.distance/1000,1,1)} Km|"></td>
			      <td data-label="Journey Time"
			       	th:text="|${#numbers.formatDecimal(journey.journeyTime/(1000*60*60),1,1)} Hour|"></td>
			    </tr>
			  </tbody>
		  
			  <tfoot>
			    <tr><th colspan="6">
				<div class="ui right floated pagination menu">
					<a class="icon item" th:onclick="pageLeft()">
			          <i class="left chevron icon"></i>
			         </a>
			        
			        <th:block th:each="num : ${#numbers.sequence(startPage,endPage)}">
					    <a 	class="item" th:onclick="|pageClick('${num}')|"
					        th:text=${num}>
				        </a>
			        </th:block>
			        
			        <a class="icon item" th:onclick="pageRight()">
			          <i class="right chevron icon" ></i>
			        </a>
				</div>	  
			  </tr></tfoot>
	
		</table>
	</div>
	
</div>

</body>
</html>
